/**
 * modules/variables
 * ---
 */


// Typography
$base-font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
$heading-font-family: $base-font-family;

$font-sans: $base-font-family;
$font-serif: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Header Height
$header-height-S: 50px;
$header-height-M: 70px;


// Colors
$blue: #009fe2;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

$color-1: #3d3536; // brown
$color-2: #333333; // green dark
$color-3: #b4d7a8; // green light
$color-4: #ffffff; // white

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: lighten($base-border-color, 10%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

//z-index - order the elements from the lowest z-index(left) to the highest(right)

$main-elements: main-content, navigation;
$bg-elements: fixed-bg, scrolling-bg;


/**
 * Grid
 */

$wrapper-width: 1280px;


$padding-horizontal-base: 5px;
$padding-vertical-base: 5px;
$margin-horizontal-base: 5px;
$margin-vertical-base: 5px;
$margin-horizontal-large: 15px;
$margin-vertical-large: 15px;
